# Colocar arquivos que não subirão para o GitHub:

# Pastas:
pdf_aulas/
node_modules/
anotacoes_diversas/

# Arquivos: Para fazer Deploy, precisa ter esses arquivos no github!!!
# package-lock.json
# package.json

# (Com a senha do db)
.env 

# Dicas do que ignorar:
node_modules/
.env
*.log
.DS_Store
coverage/
dist/